<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Minimal</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="./fonts.css" />
  <link rel="stylesheet" href="./base.css" />
  <link rel="stylesheet" href="./utility.css" />
  <link rel="stylesheet" href="./minimal.css" />
</head>
<body>
  <div id="screen">
    <div id="frame" class="stroke shadow">
      <img id="cover" class="stroke"/>
      <div id="content">
        <p id="title" class="text"></p>
        <div id="byline">
          <p id="artist" class="text"></p>
          <canvas id="eq"></canvas>
        </div>
      </div>
    </div>
  </div>
  <script src="./render-settings.js"></script>
  <script src="./track-colors.js"></script>
  <script src="./band-counts.js"></script>
  <script src="./color-roles.js"></script>
  <script src="./ratios.js"></script>
  <script src="./preview-protocol.js"></script>
  <script src="./common.js"></script>
  <script src="./minimal.js"></script>
</body>
</html>
