<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Monochrome</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="./fonts.css" />
  <link rel="stylesheet" href="./base.css" />
  <link rel="stylesheet" href="./utility.css" />
  <link rel="stylesheet" href="./monochrome.css" />
</head>
<body>
  <div id="screen" class="gradient">
    <img id="cover" />
    <div id="wordmark">Playlist</div>
    <div id="content">
      <div id="mark">✕✕✕</div>
      <div id="caption">
        <p id="title" class="text"></p>
        <p id="artist" class="text"></p>
      </div>
    </div>
    <div id="progress"><div id="elapsed"></div></div>
  </div>
  <script src="./render-settings.js"></script>
  <script src="./track-colors.js"></script>
  <script src="./band-counts.js"></script>
  <script src="./color-roles.js"></script>
  <script src="./ratios.js"></script>
  <script src="./preview-protocol.js"></script>
  <script src="./common.js"></script>
  <script src="./monochrome.js"></script>
</body>
</html>
