.stroke {
  border: 2px solid var(--stroke);
}

.text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shadow, .gradient {
  position: relative;
  --primary-darken: oklch(from var(--primary) calc(l * l * 0.55 + 0.02) calc(c * 0.85) h);
}

.shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 2px 2px 5px color-mix(in srgb, var(--primary-darken) 75%, transparent);
}

.gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--primary-darken) 34%, transparent) 0%,
    color-mix(in srgb, var(--primary-darken) 26.5%, transparent) 4%,
    color-mix(in srgb, var(--primary-darken) 20.6%, transparent) 8%,
    color-mix(in srgb, var(--primary-darken) 14.2%, transparent) 14%,
    color-mix(in srgb, var(--primary-darken) 8.6%, transparent) 22%,
    color-mix(in srgb, var(--primary-darken) 5.2%, transparent) 30%,
    color-mix(in srgb, var(--primary-darken) 3.2%, transparent) 38%,
    color-mix(in srgb, var(--primary-darken) 1.5%, transparent) 50%,
    color-mix(in srgb, var(--primary-darken) 0.6%, transparent) 65%,
    color-mix(in srgb, var(--primary-darken) 0.23%, transparent) 80%,
    color-mix(in srgb, var(--primary-darken) 0%, transparent) 100%
  );
}
