.stroke {
  border: 2px solid var(--stroke);
}

.shadow {
  box-shadow: 8px 8px 64px rgba(0, 0, 0, 0.425);
}

.text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
