.stroke {
  border: 2px solid var(--stroke);
}

.text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.shadow, .gradient {
  position: relative;
  --primary-darken: oklch(from var(--primary, #000000) calc(l * l * 0.8 + 0.07) calc(c * 0.85) h);
}

.shadow::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 2px 2px 5px color-mix(in srgb, var(--primary-darken) 75%, transparent);
}

.gradient::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(
    to top,
    color-mix(in srgb, var(--primary-darken) 24%, transparent) 0%,
    color-mix(in srgb, var(--primary-darken) 10%, transparent) 14%,
    color-mix(in srgb, var(--primary-darken) 2%, transparent) 38%
  );
}
